In [32]:
import pandas as pd
import numpy as np
import glob
import os
import matplotlib.pyplot as plt

This notebook contains the code to merge and perform preliminary cleaning on the excel files downloaded from https://akk.hu/statistics/yields-indices-market-turnover/benchmark-yields
This data was choosen in order to have daily data for the Hungarian government bond yields, which is not available in the Hungarian central bank's database.

In [33]:
path = '/Users/balintmaroti/Documents/allianz/data'
files = glob.glob(os.path.join(path, "benchmark_*.xlsx"))
files.sort()

In [34]:
dfs = []
for fn in files:
    df = pd.read_excel(fn, sheet_name="Sheet1")
    df["source_file"] = os.path.basename(fn)
    dfs.append(df)
    
full = pd.concat(dfs, ignore_index=True)
print(f"Combined shape: {full.shape}")

/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/quant/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Combined shape: (42106, 13)

In [35]:
full

,Date,Settle Date,Tenor,ISIN Code,Security,Maturity Date,Yield (%),Change,Avg Bid Yield (%),Avg Ask Yield (%),Net Price (%),Accrued Interest (%),source_file
0,2002-01-03,2002-01-07,3 month,HU0000513379,D020417,2002-04-17,9.65,NaN,9.77,9.52,97.42560,0.0000,benchmark_01_02.xlsx
1,2002-01-03,2002-01-07,6 month,HU0000513452,D020612,2002-06-12,9.39,NaN,9.50,9.27,96.14360,0.0000,benchmark_01_02.xlsx
2,2002-01-03,2002-01-07,12 month,HU0000513494,D021227,2002-12-27,8.96,NaN,9.08,8.83,92.00905,0.0000,benchmark_01_02.xlsx
3,2002-01-03,2002-01-07,3 year,HU0000402029,2004/J,2004-10-12,8.07,NaN,8.20,7.94,105.67165,4.3315,benchmark_01_02.xlsx
4,2002-01-03,2002-01-07,5 year,HU0000401963,2006/E,2006-05-12,7.58,NaN,7.70,7.45,105.16080,1.3041,benchmark_01_02.xlsx
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42101,2025-05-23,2025-05-27,3 year,HU0000405543,2028/B,2028-03-23,6.49,0.01,6.56,6.42,94.99390,0.8014,benchmark_24_25.xlsx
42102,2025-05-23,2025-05-27,5 year,HU0000403696,2030/A,2030-08-21,6.54,-0.01,6.62,6.47,84.70330,2.2932,benchmark_24_25.xlsx
42103,2025-05-23,2025-05-27,10 year,HU0000406624,2035/A,2035-10-24,7.00,0.01,7.07,6.93,99.94260,4.1233,benchmark_24_25.xlsx
42104,2025-05-23,2025-05-27,15 year,HU0000404165,2041/A,2041-04-25,7.22,-0.01,7.29,7.15,60.81900,0.2630,benchmark_24_25.xlsx
42105,2025-05-23,2025-05-27,20 year,HU0000404991,2051/G,2051-04-28,7.31,0.00,7.38,7.23,61.98210,0.3178,benchmark_24_25.xlsx

In [36]:
full.dtypes

Date                    datetime64[ns]
Settle Date             datetime64[ns]
Tenor                           object
ISIN Code                       object
Security                        object
Maturity Date           datetime64[ns]
Yield (%)                      float64
Change                         float64
Avg Bid Yield (%)              float64
Avg Ask Yield (%)              float64
Net Price (%)                  float64
Accrued Interest (%)           float64
source_file                     object
dtype: object

In [37]:
full.columns = (
    full.columns
        .str.strip()
        .str.lower()
        .str.replace(r'[\s%()]+', '_', regex=True)  # spaces, %, (), → underscore - ChatGPT
        .str.strip('_')
)
full

,date,settle_date,tenor,isin_code,security,maturity_date,yield,change,avg_bid_yield,avg_ask_yield,net_price,accrued_interest,source_file
0,2002-01-03,2002-01-07,3 month,HU0000513379,D020417,2002-04-17,9.65,NaN,9.77,9.52,97.42560,0.0000,benchmark_01_02.xlsx
1,2002-01-03,2002-01-07,6 month,HU0000513452,D020612,2002-06-12,9.39,NaN,9.50,9.27,96.14360,0.0000,benchmark_01_02.xlsx
2,2002-01-03,2002-01-07,12 month,HU0000513494,D021227,2002-12-27,8.96,NaN,9.08,8.83,92.00905,0.0000,benchmark_01_02.xlsx
3,2002-01-03,2002-01-07,3 year,HU0000402029,2004/J,2004-10-12,8.07,NaN,8.20,7.94,105.67165,4.3315,benchmark_01_02.xlsx
4,2002-01-03,2002-01-07,5 year,HU0000401963,2006/E,2006-05-12,7.58,NaN,7.70,7.45,105.16080,1.3041,benchmark_01_02.xlsx
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42101,2025-05-23,2025-05-27,3 year,HU0000405543,2028/B,2028-03-23,6.49,0.01,6.56,6.42,94.99390,0.8014,benchmark_24_25.xlsx
42102,2025-05-23,2025-05-27,5 year,HU0000403696,2030/A,2030-08-21,6.54,-0.01,6.62,6.47,84.70330,2.2932,benchmark_24_25.xlsx
42103,2025-05-23,2025-05-27,10 year,HU0000406624,2035/A,2035-10-24,7.00,0.01,7.07,6.93,99.94260,4.1233,benchmark_24_25.xlsx
42104,2025-05-23,2025-05-27,15 year,HU0000404165,2041/A,2041-04-25,7.22,-0.01,7.29,7.15,60.81900,0.2630,benchmark_24_25.xlsx
42105,2025-05-23,2025-05-27,20 year,HU0000404991,2051/G,2051-04-28,7.31,0.00,7.38,7.23,61.98210,0.3178,benchmark_24_25.xlsx

In [38]:


# Replace NaN values in 'change_pct' with 0
full['change'].fillna(0, inplace=True)

full

/var/folders/mz/0bj7z78d5nn0ncv6217fwn8m0000gn/T/ipykernel_2182/3612928895.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  full['change'].fillna(0, inplace=True)

,date,settle_date,tenor,isin_code,security,maturity_date,yield,change,avg_bid_yield,avg_ask_yield,net_price,accrued_interest,source_file
0,2002-01-03,2002-01-07,3 month,HU0000513379,D020417,2002-04-17,9.65,0.00,9.77,9.52,97.42560,0.0000,benchmark_01_02.xlsx
1,2002-01-03,2002-01-07,6 month,HU0000513452,D020612,2002-06-12,9.39,0.00,9.50,9.27,96.14360,0.0000,benchmark_01_02.xlsx
2,2002-01-03,2002-01-07,12 month,HU0000513494,D021227,2002-12-27,8.96,0.00,9.08,8.83,92.00905,0.0000,benchmark_01_02.xlsx
3,2002-01-03,2002-01-07,3 year,HU0000402029,2004/J,2004-10-12,8.07,0.00,8.20,7.94,105.67165,4.3315,benchmark_01_02.xlsx
4,2002-01-03,2002-01-07,5 year,HU0000401963,2006/E,2006-05-12,7.58,0.00,7.70,7.45,105.16080,1.3041,benchmark_01_02.xlsx
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42101,2025-05-23,2025-05-27,3 year,HU0000405543,2028/B,2028-03-23,6.49,0.01,6.56,6.42,94.99390,0.8014,benchmark_24_25.xlsx
42102,2025-05-23,2025-05-27,5 year,HU0000403696,2030/A,2030-08-21,6.54,-0.01,6.62,6.47,84.70330,2.2932,benchmark_24_25.xlsx
42103,2025-05-23,2025-05-27,10 year,HU0000406624,2035/A,2035-10-24,7.00,0.01,7.07,6.93,99.94260,4.1233,benchmark_24_25.xlsx
42104,2025-05-23,2025-05-27,15 year,HU0000404165,2041/A,2041-04-25,7.22,-0.01,7.29,7.15,60.81900,0.2630,benchmark_24_25.xlsx
42105,2025-05-23,2025-05-27,20 year,HU0000404991,2051/G,2051-04-28,7.31,0.00,7.38,7.23,61.98210,0.3178,benchmark_24_25.xlsx

In [39]:
# check for duplicates in date and tenor and print the count
duplicates = full.duplicated(subset=['date', 'tenor'], keep=False)
print(f"Number of duplicate rows based on 'date' and 'tenor': {duplicates.sum()}")

Number of duplicate rows based on 'date' and 'tenor': 0

In [40]:
tenor_mapping = {
    '3 month': '3M',
    '6 month': '6M',
    '12 month': '1Y',
    '3 year': '3Y',
    '5 year': '5Y',
    '10 year': '10Y',
    '15 year': '15Y',
    '20 year': '20Y'
}

# Apply the renaming to the 'tenor' column
full['tenor'] = full['tenor'].replace(tenor_mapping)

In [41]:
# Save as a csv
output_path = os.path.join(path, "benchmark_combined.csv")
full.to_csv(output_path, index=False)